<main role="main" class="container">
	<h1 class="mt-5">All clients</h1>
	<br>
	<div id="errors"></div>
	<div id="clients">
	</div>
</main>

<script>
	$(function() {
		PageLoader.loadList();
	});
</script>